*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  padding: 1.5rem 1rem;
  box-shadow: rgba(227, 222, 222, 0.24) 0px 3px 5px;
}

/* .logo-container {
  width: clamp(30px, 20vw, 150px);
} */

.zerodha-logo {
  width: clamp(20px, 25vw, 150px);
}

li {
  list-style: none;
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:visited {
  color: #000;
}
.nav-items {
  display: flex;
  gap: 3vw;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-btn span {
  display: block;
  background: #000;
  width: 25px;
  height: 2.5px;
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger-btn.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.mobile-modal {
  position: fixed;
  top: clamp(1px, 3vw, 60px);
  width: min(98%, 600px);
  right: 1%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  transition: 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  /* padding: 20px; */
  border-radius: 2px;
}

.modal-close-btn {
  position: absolute;
  top: clamp(1px, 3vw, 15px);
  /* right: max(1vw, 8px); */
  right: 10px;
}

.mobile-modal.open {
  opacity: 1;
  visibility: visible;
}

.basic-services {
  margin-top: 1%;
  padding: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1.2rem;
}

.basic-services li {
  display: grid;
  grid-template-columns: 15% 80%;
  column-gap: 0.5rem;
  align-items: center;
  justify-items: start;
}
.basic-services li img {
  width: 100%;
  object-fit: contain;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #ccc;
}

.other-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1.2rem;
  row-gap: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main,
.trust-section,
.pricing-section,
.varsity-section,
.account-opening-section,
footer {
  max-width: 1200px;
  margin: 1em auto 0;
  padding: 30px 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.hero-section h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.hero-section p {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 2;
}

.hero-section button,
.account-opening-section button {
  background-color: #387ed1;
  color: white;
  padding: 0.5em 2em;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
}

.hero-section img {
  max-width: 95%;
  margin: 10px auto;
}

.trust-section h2,
.pricing-section h2,
.varsity-section h2,
.account-opening-section h2 {
  font-size: 1.2em;
  font-weight: 500;
}
.varsity-section h2 {
  margin-top: 2em;
}

.title-trust {
  margin-bottom: 2em;
}
.trust-section p,
.pricing-section p,
.varsity-section p,
.account-opening-section p {
  line-height: 1.8;
  font-weight: 300;
}

.trust-section p,
.pricing-section p {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-weight: 300;
}

.varsity-section p {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.accent-span,
.accent-link {
  color: #387ed1;
  font-weight: 600;
}

a.accent-link:visited {
  color: #387ed1;
}

/* .ecosystem-img-container img {
  margin-top: 1em;
  max-width: 100%;
  } */
.ecosystem-img-container .links {
  display: flex;
  justify-content: space-between;
}

.press-img-container img,
.ecosystem-img-container img,
.varsity-img-container img {
  max-width: 100%;
  margin-top: 1em;
}

.pricing-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
}

.pricing-img img {
  max-width: clamp(20px, 20vw, 100px);
}

.pricing-img-text {
  display: flex;
  font-size: 0.65em;
  font-weight: 300;
  align-items: center;
}

.account-opening-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
}

footer {
  margin-top: 0;
  background-color: #fbfbfb;
}
.footer-logo {
  max-width: 100%;
}
.footer-zerodha-logo {
  width: clamp(20px, 30vw, 150px);
  margin-bottom: 1em;
}

footer p {
  font-size: 0.8em;
  font-weight: 300;
}

footer h2 {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 2em;
}

footer li {
  font-size: 0.8em;
  font-weight: 200;
  margin-bottom: 15px;
}

.social-logo {
  width: 25px;
  margin: 1.2em 1em 1.2em 0;
}

.footer-flex-1 {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.footer-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.footer-flex-3 {
  font-weight: 100;
  line-height: 1.8;
  font-size: 0.8em;
}

.footer-flex-3 p {
  margin-bottom: 1em;
}

.footer-flex-4 {
  display: flex;
  column-gap: 0.8em;
  row-gap: 0.8em;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .mobile-nav-hidden {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 800px) {
  .title-trust {
    margin-top: 5.2em;
  }
  .trust-flex-1 {
    display: flex;
    align-items: center;
    column-gap: 2em;
  }
  .trust-flex-2 {
    display: flex;
    justify-content: center;
  }
  .pricing-flex-1 {
    display: flex;
    align-items: center;
  }
  .pricing-img {
    flex-basis: 100%;
  }

  .varsity-flex-1 {
    display: flex;
    column-gap: 2em;
    align-items: center;
  }

  .varsity-img-container {
    flex-basis: 100%;
  }

  .footer-flex-1 {
    flex-direction: row;
    column-gap: 2em;
    align-items: baseline;
  }

  .footer-flex-2 {
    flex-direction: row;
    column-gap: 1em;
  }
}

@media (min-width: 1200px) {
  .modal-close-btn {
    visibility: hidden;
    display: none;
  }
}
