*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  padding: 1.5rem 1rem;
  box-shadow: rgba(227, 222, 222, 0.24) 0px 3px 5px;
}

.logo-container {
  width: min(32%, 130px);
}

.zerodha-logo {
  max-width: 100%;
}

li {
  list-style: none;
}

.nav-items {
  display: flex;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-btn span {
  display: block;
  background: #000;
  width: 25px;
  height: 2.5px;
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger-btn.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.mobile-modal {
  position: fixed;
  top: 7px;
  width: 98%;
  right: 1%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;

  transition: 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
}

.mobile-modal.open {
  opacity: 1;
  visibility: visible;
}
